body {
	font-family: "Cambria", sans-serif;
}

#title {
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
}

#content {
	width: 800px;
	height: 501px;
	margin: 20px auto 10px;
	overflow: auto;
	border: 3px solid #CCC;
}

#lineNumbers {
	width: auto;
	height: 497px;
	float: left;
	text-align: center;
	background-color: #54FFAF;
	font: 16px "Consolas";
	padding: 2px 8px;
	line-height: 1em;
}

#editor {
	margin: 0;
	display: block;
	width: 94%;
	height: 497px;
	float: left;
	font: 16px "Consolas";
	padding: 2px;
	overflow: hidden;
	border: none;
	outline: none;
	resize: none;
	line-height: 1em;
}

#settings {
	text-align: center;
	/*border: 1px solid black;*/
}

#fontSize, #useLineNumbers {
	margin-right: 16px;
}

.boxsizingBorder {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}